@model IEnumerable<LibreriaMVC.Models.PA_PRODUCTOS_PROVEEDOR>

@{
    ViewData["Title"] = "ListarProductoProveedor";
}

<h1>Listar Productos por Proveedor</h1>
@using (Html.BeginForm())
{
    <div>Seleccione al proveedor: 
        @Html.DropDownList("proveedor",
            (SelectList)ViewData["PROVEEDORES"] , "",
            new{@class="form-select"})
        <br/>
        <input type="submit" value="Consultar" class="btn btn-primary">
    </div>
}
<br />
<table class="table text-center">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
        </tr>
}
    </tbody>
</table>

<br />
 <div class="alert alert-primary">
    <strong>Cantidad de filas: </strong> @ViewBag.FILAS <br />
    <strong>Total de dinero: </strong> @ViewBag.TOTAL <br />
</div>
